{% extends 'guide/base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12 my-3">
                <h1>Surf spots around the world!</h1>
                <div id="map" class="map-container rounded my-4" style="height: 500px;"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        var mapElement = document.querySelector('#map');
        var map = L.map(mapElement, {
            worldCopyJump: true,
            maxBounds: [[-90, -180], [90, 180]]
        });

        map.setView([0, 0], 2);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        {% for spot in spots %}
            L.marker([{{ spot.latitude }}, {{ spot.longitude }}]).addTo(map)
                .bindPopup('<b>{{ spot.name }}</b>');
        {% endfor %}
    </script>
{% endblock %}
